@tailwind base;
@tailwind components;

.btn {
  @apply box-border bg-gray-200 outline-none cursor-pointer flex self-center text-xl font-bold rounded-lg
         p-0.5 w-40 text-center items-center justify-center text-black bg-gradient-to-bl from-gray-300
       hover:bg-gray-50;
}

.header {
  @apply flex items-center bg-blue-600 text-white pr-4 pl-3 fixed  w-full h-14 z-40;
}

.logo {
  @apply font-extrabold text-white w-48 text-2xl flex;
}

.content {
  @apply pt-12 px-5;
}

.container {
  @apply block w-80 max-h-48 mx-5 mb-5 mt-1 text-xs overflow-y-scroll hover:cursor-pointer;
}

.codeArea {
  @apply absolute top-28 -mt-2 pl-2 text-transparent bg-transparent outline-none overflow-hidden;
}

.success {
  @apply inline-block px-6 py-2 font-bold fixed top-20 z-50 leading-6 text-center text-white transition bg-blue-600 rounded shadow;
}

.error {
  @apply inline-block px-6 py-2 font-bold fixed top-20 leading-6 text-center text-white transition bg-red-500 rounded shadow;
}

@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

.container {
  border: 0.5px solid gray;
  background-color: #fdfdfd;
  background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
  border-left: 3px solid #358ccb;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 380px;
  height: 220px;
}

.container::-webkit-scrollbar {
  display: none;
}

.codeArea {
  border-left: 10px solid #358ccb;
  caret-color: black;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  line-height: 1.5;
}

.code {
  background-color: #fdfdfd;
  background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
}

.toolbar {
  margin-top: -100px;
}

.z {
  z-index: 60;
}
